/* styles.module.css */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.form {
    display: grid;
    gap: 10px;
}

.form label {
    font-weight: bold;
}

.form input,
.form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* 특이사항 칸 크기 조정 */
#remark {
    height: 100px; /* 높이를 조정하여 특이사항 칸을 크게 만듭니다 */
}


.submitButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #0056b3;
}


.form label {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
